<!doctype html>
<html lang="ja">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<!-- sbb CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>ゆる~アーカイブへようこそ!</title>
</head>

<body>
	<!-- navigation bar -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<!-- 基本テンプレートの中にインサートされるコンテンツ Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 基本テンプレートの中にインサートされるコンテンツ End -->
	<!-- Bootstrap JS -->
	<script th:src="@{/bootstrap.min.js}"></script>
	<!-- JavaScript Start -->
	<th:block layout:fragment="script"></th:block>
	<!-- JavaScript End -->
</body>

</html>