<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container-fluid" style="background:#00BFFF;">
			<!-- 
				モバイル環境で。見えるハンバーガーメニューボタンにマウスを当てると
				色が変わります。
			 -->
			<style>
				.custom-toggler .navbar-toggler-icon {
				  transition: filter 0.2s ease;
				  background-size: 1.5em;
				}

				.custom-toggler:hover .navbar-toggler-icon {
				  filter: invert(48%) sepia(89%) saturate(388%) hue-rotate(173deg) brightness(104%) contrast(104%);
				}
				
				.custom-toggler:focus {
				  outline: none;
				  box-shadow: none;
				}
				
			</style>
			<div class="container-fluid" style="background:#00BFFF;">
		<a class="navbar-brand" href="/">
			<img src="/assets/yuruArchieve_Logo_mainpage.png" alt="ゆるアーカイブロゴイメージ" style="height:60px;">
		</a>
		<button class="navbar-toggler custom-toggler" type="button"
		        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link me-3" sec:authorize="isAnonymous()" th:href="@{/user/login}">ログイン</a>
					<a class="nav-link me-3" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">ログアウト</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/user/signup}">会員加入</a>
				</li>
			</ul>
		</div>
	</div>
</nav>